$primary-color: #cfdff2;
$secondary-color: #235a87;
$text-color: #3b485f;
$background-color: #00111f;
$accent: #e3aa26;

//text: #e1eaf2;
//background: #00111f;
//primary: #cfdff2;
//secondary: #235a87;
//accent: #e3aa26;
